header {
  text-align: center;
  background: url('http://www.bates.edu/wordpress/files/2016/07/pattern1.jpg');
  background-size: cover;
}
body {
  text-align: center;
}
h1 {
  color: #199
}
img {
  height: 60px;
  border: thick solid black;
}
div {
  margin: 10px;
}
.product {
  background: lightgrey;
}
.about {
  background: #199;
}
.contact {
  background: grey;
}
