header {
  text-align: center;
  font-family: verdana, sans-serif;
  background: rgb(255,255,255,0.7);
  background-size: cover;
  border: thick solid rgb(255,255,255,1);
  margin: 10px 10px 20px 10px;
  padding: 20px;
  height: 150px;
}
.left {
  float: left;
  margin-left: 150px;
  margin-top: 20px;
}
.right {
  float: right;
}
body {
  background: url("http://www.bates.edu/wordpress/files/2016/07/pattern1.jpg");
  text-align: center;
  font-family: verdana, sans-serif;
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  color: rgb(0,128,128,1);
  font-size: 40px;
}
.img1 {
  height: 145px;
  border: thick solid rgb(128,128,128,1);
  margin: 5,5,5,5px;
}
.img2 {
  height: 225px;
  border: thick solid grey;
  margin: 10px;
}

h2 {
  color: rgb(0,128,128,1);
  font-size: 30px;
  height: 30px;
}

.product {
  background: rgb(192,192,192,0.8);
  margin: 10px;
  border: thick solid rgb(255,255,255,1);
  padding: 20px;
}
.about {
  height: 250px;
  width: 310px;
  color: rgb(255,255,255,1);
  background: rgb(0,0,0,0.3);
  padding: 20px;
  margin: 10px;
  border: thick solid rgb(192,192,192,1);
  float: left;
}
.contact {
  height: 250px;
  width: 300px;
  color: rgb(255,255,255,1);
  background: rgb(0,0,0,0.5);
  padding: 20px;
  margin: 10px;
  border: thick solid rgb(192,192,192,1);
  float: right;
}

input {
  display: block;
}
.enquiry {
  height: 100px;
  width: 300px;
}
.email {
  height: 20px;
  width: 220px;
  float: left;
}
.submit {
  height: 25px;
  width: 76px;
  float: right;
  cursor: pointer;
  color: rgb(255,255,255,1);
  background-color: rgb(0,128,128,1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(155,155,155,1);
}

.earr {
  height: 150px;
  border-radius: 20%;
  border: thick solid rgb(0,128,128, 0.7);
  border-width: 2px;
}
.earrings {
  height: 350px;
  background: rgb(200,200,200,0.6);
  margin: 10px;
  border: thick solid rgb(167,167,167,0.9);
  padding: 0px 5px 0px 5px;
}
.necklace {
  height: 350px;
  background: rgb(155,155,155,0.7);
  margin: 10px;
  border: thick solid rgb(67,67,67,0.3);
  padding: 5px;
}
.bracelet {
  height: 350px;
  background: rgb(200,200,200,0.5);
  margin: 10px;
  border: thick solid rgb(167,167,167,0.8);
  padding: 5px;
}
.like {
  margin: 0px 50px 0px 50px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255,255,255,1);
  background-color: rgb(0,128,128,1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(153,153,153,1);
}

button:hover {background-color: rgb(95,154,167)}

button:active {
  background-color: rgb(68,105,114);
  box-shadow: 0 2px rgb(102,102,102,1);
  transform: translateY(4px);
}
